{
    "extends": ["wix-editor/node"],
    "rules": {
        "consistent-return": 0
    },
    "env": {
        "browser": false,
        "node": true,
        "amd": true
    },
    "globals": {
    }
}
